/* ------------------------------
    Reset all deafault styles
------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------------------------
    Declare styles variable
------------------------------*/
:root {
  --primary-color: #f54748;
  --primary-dark-color: #2e2e2e;
  --secondary-dark-color: #595959;
  --white-color: #fff;
  --dark-red: #df3636;
}
/* ------------------------------
  Common styles or Utilities
------------------------------*/
body {
  font-family: "Fira Sans", sans-serif;
  /* font-family: "Pacifico", cursive; */
}
html {
  scroll-behavior: smooth;
}

/* ------------------------------
        Nav and Navbar
------------------------------*/
.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 22px;
  color: var(--primary-dark-color);
}
.navbar-brand span {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: var(--primary-color);
}
.navbar-brand:hover {
  color: var(--primary-dark-color);
}
.nav-item .nav-link {
  color: var(--primary-dark-color);
  font-size: 16px;
  font-weight: 500;
  margin-left: 30px;
}
.nav-item .nav-link:hover {
  color: var(--primary-color);
}
/* ------------------------------
            Banner
------------------------------*/
#banner-section {
  margin-top: 100px;
  /* height: 100vh; */
}
.banner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 84px;
  color: var(--primary-dark-color);
}
.banner-title span {
  font-weight: 600;
  font-size: 60px;
  line-height: 84px;
  color: var(--primary-color);
}
.banner-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: var(--secondary-dark-color);
  margin: 16px 0;
}
.search-btn {
  padding: 8px 25px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid transparent;
  border-radius: 0 8px 8px 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}
.search-btn:hover {
  background-color: #e73434;
  border: 1px solid var(--primary-color);
}
.form-control {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}
.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: inset 0 1px 1px rgba(71, 255, 47, 0.075),
    0 0 8px rgba(255, 27, 27, 0.6);
}
/* ------------------------------
       Watch video section
------------------------------*/
#watch-video-section {
  margin-top: 100px;
}
.watch-video-container img {
  border-radius: 8px;
}
.watch-video-container h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: var(--primary-dark-color);
}
.watch-video-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--secondary-dark-color);
  margin: 20px 0 26px 0;
}
.explore-btn {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}
.explore-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
/* ------------------------------
    Special dishes section
------------------------------*/
#special-dishes-section {
  margin-top: 100px;
}
.special-title {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  color: var(--primary-dark-color);
}
.special-title span {
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-size: 48px;
  color: var(--primary-color);
}
.special-text {
  font-weight: 400;
  font-size: 20px;
  /* line-height: 36px; */
  color: var(--secondary-dark-color);
  margin: 16px 0 28px 0;
}
.special-dishes-container h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: var(--primary-dark-color);
}
.special-dishes-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--secondary-dark-color);
  margin: 20px 0 20px 0;
}
.special-dishes-container img {
  height: 400px;
  width: 100%;
  border-radius: 8px;
}
.meal-category-badge {
  background-color: #fce4ec;
  color: #e91e63;
  border-radius: 50px;
  padding: 6px 16px;
  font-size: 12px;
  font-weight: 500;
}
.meal-area-badge {
  background-color: #e8eaf6;
  color: #3f51b5;
  border-radius: 50px;
  padding: 6px 16px;
  font-size: 12px;
  font-weight: 500;
}
/* ------------------------------
    Popular menu section
------------------------------*/
#popular-menu-section {
  margin-top: 100px;
}
.category {
  margin-bottom: 26px;
}
.category-badge {
  margin: 10px 6px;
  padding: 8px 35px;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--white-color);
  color: var(--primary-dark-color);
  border: 1px solid rgba(190, 190, 190, 0.5);
  box-shadow: 5px 5px 20px rgba(181, 181, 181, 0.2);
  border-radius: 30px;
}
.category-badge:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid rgba(190, 190, 190, 0.5);
  box-shadow: 5px 5px 20px rgba(181, 181, 181, 0.2);
  border-radius: 30px;
}
.custom-card {
  background-color: var(--white-color);
  padding: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 5px 5px 20px rgba(133, 133, 133, 0.2);
  transition: 0.3s;
}
.custom-card-img {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-card-title h1 {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-dark-color);
  margin: 20px 0;
}
.badge-div {
  margin: 10px 0;
}
.custom-card-badge {
  background-color: #ffebee;
  color: #e64a4a;
  border-radius: 50px;
  border: 1px solid #e57373;
  padding: 5px 16px;
  font-size: 10px;
  font-weight: 500;
}
.custom-card-btn {
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  transition: 0.2s;
}
.custom-card-btn:hover {
  background-color: var(--dark-red);
}
/* ------------------------------
        Custom Modal
------------------------------*/
.modal-content {
  border-radius: 8px;
}
.modal-header {
  border: 0;
}
.modal-body h1 {
  font-weight: 600;
  font-size: 30px;
  color: var(--primary-dark-color);
  margin-bottom: 14px;
}
.modal-body p {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-dark-color);
  margin: 10px 0;
}
